{% extends 'cyberapp/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="{%static '/cyberapp/login.css'%}">

  </head>

<div class="jumbotron" id="banner">
<h3>Top News: </h3>
  </div>
  <div id = "news" class="jumbotron">
    <div  class="container">
        <h5>{{news_title}}</h5>
        <img src={{image}} alt="No Image Available" >
    <p> {{news_description}}<p>
     <a class= "btn btn-lg btn-danger"id="link" href={{url}} target="_blank" >Full Story</a>
</div></div>


  <div id = "news2" class="jumbotron">
    <div  class="container">
        <h5>{{news_title2}}</h5>
        <img src={{image2}} alt="No Image Available" >
    <p> {{news_description2}}<p>
     <a class= "btn btn-lg btn-danger"id="link" href={{url2}} target="_blank">Full Story</a>

     </div>
</div>



<div id = "news3" class="jumbotron">
  <div  class="container">
        <h5>{{news_title3}}</h5>
        <img src={{image3}} alt="No Image Available" >
    <p> {{news_description3}}<p>
     <a class= "btn btn-lg btn-danger"id="link" href={{url3}} target="_blank">Full Story</a>
</div>
</div>


{% endblock %}
